* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 96px;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.wrapper-love,
.wrapper-you {
  display: flex;
  align-items: center;
}

.wrapper-love {
  max-width: 285px;
  width: 100%;
}

.heart {
  height: 100px;
  width: 100px;
}

.message,
.wrapper-love,
.wrapper-you,
.heart,
.text-love,
.text-yu {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.hide {
  opacity: 0;
  transform: scale(0);
}
